.cell {
    width: 30px;
    height: 30px;
    border: solid blue 2px;
}

.line{
    display: flex;
}


.disc{
    background-color:blue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0px;
}
