body {
    margin: 0;
    text-align: center;
    background-color: #123ABC;
    background-image: url("./assets/img/night-stars.png");
    background-position: 0% 100%;
    animation: bgSlide 20s linear infinite;
}

.cell {
    width: 32px;
    height: 32px;
    border: 4px solid transparent;
}

.line {
    display: flex;
}

#board {
    background-image: url("./assets/img/pipes.png");
    background-size: contain;
    margin: auto;
    width: fit-content;
}

.player1, .player2 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0px;
    animation: 0.5s infinite;
}

.player1 {
    background-image: url("./assets/img/egg-pink0.png");
    animation-name: animatePink;
}

.player2 {
    background-image: url("./assets/img/egg-red0.png");
    animation-name: animateRed;
}

@keyframes animatePink {
    from {
        background-image: url("./assets/img/egg-pink0.png");
    }
    to {
        background-image: url("./assets/img/egg-pink1.png");
    }
}

@keyframes animateRed {
    from {
        background-image: url("./assets/img/egg-red0.png");
    }
    to {
        background-image: url("./assets/img/egg-red1.png");
    }
}
.hidden {
    display: none;
}

div#display{
    background-color: #000;
    position: absolute;
    width: 300px;
    height: 190px;
    margin: 0 auto;
}

h1{
    font-family: 'VT323', monospace;
    color: #fff;
}


div#display p {
    font-family: 'VT323', monospace;
    color: #fff;
    margin: 0 a
}


button#btnPlay , #btnReset{
    margin-bottom: 300px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    background: rgb(249,251,63);
    background: radial-gradient(circle, rgba(249,251,63,0.9817767653758542) 0%, rgba(251,181,63,1) 100%);
    color: #fff;
    text-shadow: 0px 0px 3px #000;
    border: solid 2px rgb(163, 126, 4);
    font-weight: bold;
    box-shadow: 2px 2px 5px 2px #000000;

}

button#btnPlay:hover, #btnReset:hover{
    cursor:pointer;
    color: #000;
    
}

button#btnReset{
    width: 70px;
    height: 60px;
    margin-top: 30px;
    padding: 10px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

body{
    text-align: center;
    
}

@media screen and (min-width: 768px){

    div#display{
        width: 600px;
        height: 350px;
    }

    div#display p{
        font-size: 30px;
        padding: 10px;
    }


    button#btnPlay{
        height: 72px;
        width: 72px;
        font-size: 20px;

@keyframes bgSlide {
    from {
        background-position: 0% 100%;
    }
    to {
        background-position: 100% 0%;
    }
}